html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.jumbotron {
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*_hiM2rr3pubXouWyGxPwWQ.jpeg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: rgb(255, 254, 254); 
  text-align: center; 
  padding: 100px 50px; 
}

